#previousEntriesDiv {
    float:left;
    width:15%;
    overflow:hidden;
}
#newEntryDiv {
    float:left;
    width:85%;
    overflow:hidden;
}
form {
    display: table-cell;
    vertical-align: right;
    height: 50px;
    border: 1px solid black;
}
form div {
    display: block;
    padding-bottom: 11px;
    text-align: right;
}

div label {
    padding-right: 10px;
}
div input {
    width: 140px;
    horizontal-align: right;
    float: right;
}